nav:not([class]) label { max-width: none; }
main { padding-top: 2rem;}
#logo {
  display: block;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 16rem;
}
@media (max-width: 50rem) {
  #logo { margin-top: 0; }
}
#sql-value {
  font-size: 1.4em;
  position: absolute;
  height: 100%;
  width: 100%;
}
#sql-get {
  float: right;
  margin: 1rem;
  z-index: 2;
}
