nav:not([class]) label {
  max-width: none;
}
#logo {
  height: 30%;
  background-image: url('/index.png');
  background-position: center;
  background-repeat: no-repeat;
}
#sql-value {
  font-size: 1.4em;
  position: absolute;
  height: 100%;
  width: 100%;
}
#sql-get {
  float: right;
  margin: 1rem;
  z-index: 2;
}
