/* 1. header cosmeticization */
nav:not([class]) {
  border: none;
}
nav:not([class]) label {
  max-width: none;
}
nav:not([class]) a[active] {
  border-bottom: 4px solid black;
}


/* 2. main beautification */
main {
  padding-top: 2rem;
}
form:not(#sql) {
  max-width: 80rem;
  margin: auto;
  padding: 8rem;
}
table:not([class]) th {
  border-bottom: 4px solid #679;
}
th, td {
  text-align: center;
}
#logo {
  display: block;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 16rem;
  height: 16rem;
}
@media (max-height: 32rem) {
  #logo { margin-top: 0; }
}
#sql-value {
  font-size: 1.44em;
  position: absolute;
  height: 100%;
  width: 100%;
}
#sql-value ~ button {
  position: absolute;
  right: 0;
  margin: 2rem;
}
#sql-method { margin-top: 2rem;}
#ans {
  overflow-x: auto;
}


/* 3. footer sundarization */
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: 60px;
  max-width: none;
}
footer a {
  padding: 0 1rem;
}
